body{
	font-family: Segoe, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	margin:0;
	padding: 0;
	background-color: #ECE9E0; /*branco gelo*/ 
}

/* header - text */

.intro h1{
	color: #fff;
	font-size: 36px;
	padding: 60px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: lighter;
	text-transform: uppercase;
	animation-duration: 2s;
	animation-iteration-count: 1; 
}


.intro p{
	color: #fff;
	font-size: 18px;
	line-height: 10px;
	animation-duration: 2s;
	animation-iteration-count: 1;
}


/* intro */
.intro {
	width: 100%;
	height: 340px;
	background: url("../img/phone.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 90px;
}

/* Sobre */

.sobre-texto h2{
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  padding: 60px;
  margin: 0 auto;
}

.about{
  margin: 40px;
}


/* header */

.header{
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	padding-top: 5px;
	background-color:#26272b;
}

.header-menu{
	text-align: right;
}

.header-menu ul li{
	display: inline-block;
	margin-left: 5px;
	text-decoration: none;
}

.header-menu ul li a{
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}

.header-menu ul li a:hover{
	color: #D05526;/*laranja escuro*/
	
}



@media screen and (max-width: 800px) {
	
	.header-menu ul li{
		text-align: center;
		display: block;
	}

}

/* Contact */

.leftcolumn{
  float: left;
  width: 50%;
}

.rightcolumn{
  float: right;
  width: 40%;
  padding-left: 10px;
}

.card{
  background-color: #fff;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 2px 2px 2px gray;
}
.card p{
  
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
  
}

#nome, #email{
  margin-left: 8px;
}

#phone{

  margin-left: 28px;
}

#nome, #email, #phone, #assunto{
   width: 300px;
}


input, textarea{
  width: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #26272b;
  box-shadow: 1px 1px 1px gray;
}
textarea{
  height: 200px;
  }

.submit-btn {
  background-color: #26272b;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}


.submit-btn:hover {
  background-color: #F57840;/*Laranja claro*/
}

.quebra{
  background: url("../img/desk.jpg") no-repeat center;
  background-size: cover;
}

.quote-externo {
  width: 100%;
  height: 240px;
  color: white;
}

.quote-externo p {
  padding-top: 80px;
  text-align: center;
  font-style: italic;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-left: 490px;
}

/* Footer*/

.site-footer
{
	padding-top: 20px; 
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.instagram:hover
{
  background-color:#F57840
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}